/*----------------------GLOBAL SETTING--------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
}
/*----------------------END GLOBAL SETTING-----------------------*/

/*----------------------NAVBAR SECTION---------------------------*/
.bg {
    background-color:  crimson;
    
}
.navbar {
    padding: 0;
    line-height: 20px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-brand {
    font-family: chiller;
}
@media(max-width:768px) {
    .ul-bg {
        background-color: coral;
    }
}
/*----------------------END NAVBAR SECTION---------------------------*/

/*------------------------HOME SECTION-------------------------------*/
.home-text{
	margin:20px 0px 10px 50px;
}
.home-img img{
    height: 500px;
    margin-left: 30px;
  
}
/*------------------------END HOME SECTION-----------------------------*/

/*-------------------------SERVICES SECTION----------------------------*/
.service-item-1 {
	background-image: url("images/services-1.png");
}
.service-item-2 {
	background-image: url("images/services-2.png");
}
.service-item-3 {
	background-image: url("images/servies-3.png");
}
.service-item-1,.service-item-2,.service-item-3{
	flex-basis: 30%;
	height:400px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 4px 8px 12px rgba(150, 32, 32, 0.3);
	align-items: center;
    display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 10px;
	border-radius: 10px;
}
.service-item-1 h3,
.service-item-2 h3,
.service-item-3 h3 {
    margin-top: -40px;
    line-height: normal;
    margin-bottom: 20px;
}
.service-item-1 p,
.service-item-2 p,
.service-item-3 p {
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: justify;
}
.service-item-1 a,
.service-item-2 a,
.service-item-3 a {
    font-size: 20px;
    margin-bottom: -30px;
    
}
/*-----------------------END SERVICES SECTION--------------------------*/
/*-----------------------START CERTIFICATE SECTION------------------------*/
.cert-item-1,
.cert-item-2,
.cert-item-3 {
    height: auto;
    width: auto;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 4px 8px 12px rgba(150, 32, 32, 0.3);
    display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 10px;
    overflow: hidden;
}
/*-----------------------END CERTIFICATE SECTION--------------------------*/
.social {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.social a {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   height: 50px;
   margin: 0;
   padding: 0;
   background-color: #ffff;
   border: 1px solid #cbcbcb;
   box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}
.social a:hover{
    background-color: red;
    transition: all ease 0.4s;
}
.social i{
    font-size: 20px;
    
}
.social i:hover{
    color: #ffffff;
}
/*--------------FORMS-------------------*/
.form-floating label {
    margin-left: 0.8rem;

}